/* * {
    border: red 1px solid;
} */

.Aside > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 5%;
    gap: 5%;
}

.currentUser {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 80%;
}

.display-name {
    font-weight: bold;
    margin: 0;
}

.display-img {
    width: 3rem;
    border-radius: 50%;
}

.search-bar {
    width: 90%;
}

.search-bar > input {
    width: 98%;
    height: 1rem;
    border-radius: 5px;
    margin: 5% 0;
    padding: 1%;
    border: none;
}

.chat-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;  
    gap: 10px;
}

.chat-list::-webkit-scrollbar {
    display: none;
  }
  

.chat-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: var(--greylight);
    border-radius: 10px;
    margin-right: 1%;
    cursor: pointer;
    position: relative;
}

.chat-wrapper.active  {
    background-color: var(--pink);
    color: white;
}

.chat-img {
    width: 2.5rem;
    border-radius: 50%;
    margin: 5%;
}

.message-preview-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-preview {
    font-weight: 200;
}

.ChooseRecipient {
    margin-bottom: 2rem;
    width: 90%;
}

.ChooseRecipient > form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

#enterRecipient {
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 2%;
}

#newChatBtn {
    margin-right: 5px;
}

#newChatBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#newChatSubmitBtn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

#newChatSubmitBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-left-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
}

.card-right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 30%;
    height: 4rem;
    margin-right: 10px;
    position: relative;
}

.card-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: 200;
    font-size: .7rem;
    text-align: right;
}


#deleteChatBtn {
    border: none;
    background: none;
}

#deleteChatBtn:hover {
    cursor: pointer;
    transform: scale(1.4);
}