.Message {
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    background-color: var(--grey);
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.message-owner {
    background-color: var(--pink);
    align-self: flex-end;
}

.right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 3rem;
}

.left {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.message-name {
    font-weight: bold;
}

.time-sent {
    font-weight: 200;
    font-size: .7rem;
    text-align: right;
}

.delete-btn {
    border: none;
    background: none;
}

#deleteMsgBtn:hover {
    cursor: pointer;
    transform: scale(1.4);
}
