:root {
  --pinklight: #E9DFDF;
  --pinkdark: #B36363;
  --pink: #d26c6c;
  --dark: #322B2B;
  --grey: #e4e4e4;
  --greylight: #f1f1f1;
}

/* * {
  border: red 1px solid;
} */

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  height: 4%;
  background-color: var(--dark);
  color: var(--greylight);
}

.Header > button {
  color: white;
  border: white solid 1px;
  border-radius: 10px;
  background-color: transparent;
}

.Header > button:hover {
  box-shadow: 1px 1px 4px 1px #ffffff;
  cursor: pointer;
}

.Main {
  display: flex;
  max-height: 96%;
}

