:root {
  --pinklight: #E9DFDF;
  --pinkdark: #B36363;
  --pink: #d26c6c;
  --dark: #322B2B;
  --grey: #e4e4e4;
}

/* * {
  border: red 1px solid;
} */

.App {
  height: 99vh;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.Main {
  display: flex;
  height: 90%;
}

